GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-3.5-flash
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

META_ACCESS_TOKEN=your_page_access_token_here
FB_PAGE_ID=1127076737153997
IG_USER_ID=17841434448151485
PUBLIC_BASE_URL=http://your_vm_ip/carousel
PUBLIC_UPLOAD_DIR=/var/www/carousel
